<html>
    <body>
        <h1> Student: {{last_name}}, {{first_name}}</h1>
        <h2> Github: {{github}}</h2>
           <table>
                <tr>
                    <th>Project</th>
                    <th>Grades</th>
                </tr>
            {% for t in grades %}
                <tr>
                    <td><a href="/project?project={{t[0]}}">{{t[0]}}</td>
                    <td>{{t[1]}}</td>
                </tr>
            {% endfor %}    
            </table>
            <p>
                <a href="/">Home Link</a>
            </p>
    </body>
</html>